/* COOK STYLES */
.cook {
  position: relative;
  font-size: 16px;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  color: var(--c-dark);
}
.cook__image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 20% 50%;
}
.cook__rank {
  color: var(--c-white);
  background: var(--c-dark);
  position: absolute;
  top: -60px;
  width: 200px;
  padding: 5px 0;
  font-size: 2em;

  @media (min-width: 992px) {
    padding: 7px 0;
    width: 230px;
  }
}
.cook:after,
.cook:before {
  position: absolute;
  color: var(--c-dark);
  font-size: 1.7em;
  top: 50%;
  transform: translateY(-50%);
  padding: 12px 5px;
  border-top: 1px solid var(--c-dark);
  border-bottom: 1px solid var(--c-dark);
}
.cook:before {
  content: 'Benito';
  left: -90px;
}
.cook:after {
  content: 'Gaspare';
  right: -95px;
}

/* COOK MIXINS */
.presentation__cook {
  margin-top: 85px;
}

/* COOK MEDIA */
@media screen and (min-width: 576px) {
  .cook {
    width: 150px;
    height: 150px;
    font-size: 20px;
  }
  .cook:before,
  .cook:after {
    width: 120px;
  }
  .cook:before {
    left: -140px;
  }
  .cook:after {
    right: -155px;
  }
  .cook__image {
    height: 140px;
    width: 140px;
  }
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}
