/* MENU */
.menu {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(300%, -30%);
  background: rgba(5, 5, 5, 0.9);
  color: var(--c-white);
  z-index: 30;
  transition: all 0.2s;
  overflow: auto;
  display: none;
}
.menu__list {
  display: block;
  list-style-type: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 60px 0 0 0;
  text-align: left;
  margin: 0;
}
.menu__item {
}
.menu__link {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  display: block;
  padding: 28px;
  margin: 5px 5px 5px 5px;
  border-bottom: 2px solid transparent;
  \transition: all 0.2s;
}
.menu__link:hover,
.menu__link:focus {
  outline: none;
  border-bottom: 2px solid var(--c-white);
}

.menu_visible {
  transform: translate(0%);
  display: block;
}

/* MENU MEDIA */
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 992px) {
  .menu {
    position: relative;
    height: auto;
    transform: none;
    background: transparent;
    width: 100%;
    display: block;
    margin-left: 50px;
  }
  .menu__list {
    flex-direction: row;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
}
