/* MINI-  Y */
.mini-gallery {
  position: relative;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.mini-gallery__item {
  max-height: 30vw;
  position: relative;
  border-radius: 2px;
}
.mini-gallery__item img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.mini-gallery__decoration {
  position: absolute;
  color: var(--c-dark);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 150px;
  width: 150px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  text-align: center;
}
.mini-gallery__decoration:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: url(../../img/Vektor-Smartobjekt.png);
  background-size: cover;
  opacity: 0.8;
}
.mini-gallery__decoration span {
  z-index: 10;
}

/* MINI-GALLERY MEDIA */
@media screen and (min-width: 576px) {
  .mini-gallery__decoration {
    height: 250px;
    width: 250px;
    font-size: 2em;
  }
  .mini-gallery__decoration span {
    padding-bottom: 15px;
  }
}
@media screen and (min-width: 992px) {
  .mini-gallery {
    max-width: 50%;
  }
  .mini-gallery__item {
    height: 320px;
    transition: all 0.2s;
  }
  .mini-gallery__item:after {
    content: '';
    position: absolute;
    width: 88%;
    height: 88%;
    top: 4%;
    left: 4%;
    border: 5px solid var(--c-white);
  }
}
@media screen and (min-width: 1200px) {
}
