/* PRODUCT STYLES */
.product {
  font-size: 16px;
  padding: 50px 0;
  background: #f4f1ea;
}
.product__header-wrap {
  width: 100%;
  text-align: center;
}
.product__header {
  font-size: 2em;
  margin: 0;
  color: #58554e;
}
.product__caption {
  color: var(--c-dark);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  margin: 0;
}
.product__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* PRODUCT MEDIA */
@media screen and (min-width: 576px) {
  .product__header {
    font-size: 3em;
  }
  .product__caption {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    margin: 0;
  }
}
@media screen and (min-width: 992px) {
  .product__wrapper {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 4em;
  }
}
@media screen and (min-width: 1200px) {
}
