
/* BUTTON MIXES */
.button__header {
  padding: 10px 50px;
  margin: 40px 0 0 0;
  border: 2px dashed rgba(255, 255, 255, .3);
  background: rgba(0, 0, 0, .5);
  color: white;
}
.button__dining-card {
  background: transparent;
  border: 2px solid #7c695d;
  padding: 0px;
  display: block;
  color: #a87759;
  width: 150px;
  padding: 5px 0;
  margin: 2em 0 0 0;
}

/* BUTTON STYLES */
.button {
  font-size: 1em;
  border-radius: 3px;
  text-transform: uppercase;
  z-index: 10;
  cursor: pointer;
}

/* BUTTON MEDIA */
@media screen and (min-width: 576px){

}
@media screen and (min-width: 992px){

}
@media screen and (min-width: 1200px){

}
