/* c-hamburger */
.c-hamburger {
  position: absolute;
  box-sizing: border-box;
  right: 5px;
  top: 15px;
  z-index: 11;
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition: all ease .3s;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; 
}
  .c-hamburger:hover {
    opacity: 0.7; 
  }
  .c-hamburger.is-active:hover {
    opacity: 0.7; 
  }
  .c-hamburger:focus {
    outline: 2px solid white;
  }
  .c-hamburger.is-active .c-hamburger__inner,
  .c-hamburger.is-active .c-hamburger__inner::before,
  .c-hamburger.is-active .c-hamburger__inner::after {
    background-color: white; 
  }
.c-hamburger__box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; 
}
.c-hamburger__inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .c-hamburger__inner, .c-hamburger__inner::before, .c-hamburger__inner::after {
    width: 40px;
    height: 4px;
    background-color: white;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; 
  }
  .c-hamburger__inner::before, .c-hamburger__inner::after {
    content: "";
    display: block; 
  }
  .c-hamburger__inner::before {
    top: -10px; 
  }
  .c-hamburger__inner::after {
    bottom: -10px; 
  }
    .c-hamburger .c-hamburger__inner {
      transition-duration: 0.075s;
    }
      .c-hamburger .c-hamburger__inner::before {
        transition: top 0.075s 0.12s ease, opacity 0.075s ease; 
      }
      .c-hamburger--squeeze .c-hamburger__inner::after {
        transition: bottom 0.075s 0.12s ease, transform 0.075s; 
      }
    .c-hamburger.is-active .c-hamburger__inner {
      transform: rotate(45deg);
      transition-delay: 0.12s;
    }
      .c-hamburger.is-active .c-hamburger__inner::before {
        top: 0;
        opacity: 0;
        transition: top 0.075s ease, opacity 0.075s 0.12s ease; 
      }
      .c-hamburger.is-active .c-hamburger__inner::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.075s ease, transform 0.075s 0.12s; 
      }

.h-scroll-disable{
  overflow: hidden;
}

@media screen and (min-width: 992px){
  .c-hamburger{
    display: none;
  }
}