.c-header-content {
  color: white;
  z-index: 9;
  position: relative;
  text-align: center;
  height: 100%;
}
  .c-header-content__header {
    font-size: 2.5em;
    margin: 50% 0 0 0;
  } 
    .c-header-content__caption {

    }