.menu__social {
  margin: 10px 0;
}
.c-social {
   list-style-type: none;
   display: flex;
   padding: 0;
}
  .c-social__item {
    height: 70px;
    width: 70px;
    
  }
    .c-social__link {
      display: block;
      height: 100%;
      padding: 8px;
    }
    .c-social__link object{
      display: block;
      height: 100%;
      pointer-events: none;
    }



    /* social MEDIA */
    @media screen and (min-width: 576px){

    }
    @media screen and (min-width: 992px){
      .c-social {
        margin-left: auto;
      }
      .c-social__item {
        height: 40px;
        width: 40px;
      }
    }
    @media screen and (min-width: 1200px){
  
    }