
  /* COOK MIXINS */
.presentation__cook {
  margin-top: 70px;
}
  /* COOK STYLES */
.cook {
  position: relative;
  font-size: 16px;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  color: #56534c;
}
  .cook__image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 20% 50%;
  }
  .cook__rank {
    position: absolute;
    top: -60px;
    width: 300px;
    font-size: 2em;
  }
    .cook:after, .cook:before {
      position: absolute;
      color: #5c5b56;
      font-size: 1.7em;
      top: 50%;
      transform: translateY(-50%);
      padding: 12px 5px;
      border-top: 1px solid #d5d6d1;
      border-bottom: 1px solid #d5d6d1;
    }
    .cook:before {
      content: "Benito";
      left: -90px;
    }
    .cook:after {
      content: "Gaspare";
      right: -95px;
    }
  
    /* COOK MEDIA */
@media screen and (min-width: 576px) {
  .cook {
    width: 150px;
    height: 150px;
    font-size: 20px;
  }
  .cook:before,
  .cook:after {
    width: 120px;
  }
  .cook:before {
    left: -140px;
  }
  .cook:after {
    right: -155px;
  }
  .cook__image {
    height: 140px;
    width: 140px;
  }
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}
