/* DINING-CARD */
.dining-card-wrap {
  position: relative;
  margin: 50px 0 0 0;
}
.dining-card {
  position: relative;
  font-size: 16px;
  width: 15em;
  background: #f4f1ea;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4em 1em 3em 1em;
  z-index: 10;
  overflow: hidden;
  transition: all 0.5s;
}
.dining-card:before {
  position: absolute;
  left: 2%;
  top: 2%;
  content: '';
  height: 96%;
  width: 95%;
  border: 2px dashed #9d9a93;
}
.dining-card:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: -70%;
  right: -36%;
  transform: rotate(-2deg);
  background: url(../../img/crops.png) no-repeat;
}

.dining-card__decoration {
  margin: 0;
  display: flex;
  position: relative;
  width: 100%;
  color: #54514a;
  font-family: sans-serif;
  font-size: 0.8em;
}
.dining-card__line {
  background: #c1beb7;
  height: 2px;
  width: 50%;
  position: relative;
}
.dining-card__line_left:before,
.dining-card__line_right:before {
  content: '';
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 2px solid #c3c0b9;
  transform: translateY(-50%);
  background: #f4f1ea;
}
.dining-card__line_left:before {
  left: 0;
}
.dining-card__line_right:before {
  right: 0;
}
.dining-card__line_left:after,
.dining-card__line_right:after {
  content: 'EST.';
  font-family: 'Crimson Text', serif;
  font-weight: bold;
  position: absolute;
  left: 35%;
  top: -35px;
}
.dining-card__line_left:after {
  content: 'EST.';
}
.dining-card__line_right:after {
  content: '1893';
}

.dining-card__line_right:after {
}
.dining-card__round {
  border: 1px solid #c1beb7;
  background: #f4f1ea url(../../img/cake.png) no-repeat;
  background-size: 75%;
  background-position: center;
  position: absolute;
  z-index: 10;
  height: 3.5em;
  width: 3.5em;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dining-card__header {
  font-size: 1.7em;
  color: #54514a;
  margin: 2em 0 0 0;
}
.dining-card__description {
  margin: 2em 0 0 0;
}

[data-card='one'] {
  transform: translateX(-35px);
  position: relative;
  z-index: 15;
}
[data-card='two'] {
  transform: scale(0.95);
  position: absolute;
  top: 0;
  left: 5px;
  z-index: 14;
  cursor: pointer;
}
[data-card='three'] {
  transform: scale(0.9);
  position: absolute;
  top: 0;
  left: 45px;
  z-index: 13;
  cursor: pointer;
}
/* DINIG-CARD MEDIA */
@media screen and (min-width: 576px) {
  .dining-card {
    font-size: 20px;
    width: 16em;
  }
  .dining-card:after {
    bottom: -73%;
    right: -46%;
  }
  .dining-card__line_left:after,
  .dining-card__line_right:after {
    top: -50px;
  }
}
@media screen and (min-width: 992px) {
  .dining-card {
    font-size: 24px;
  }
  .dining-card__description {
    font-size: 0.8em;
  }
  .dining-card-wrap {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
}
