/* FOOTER */
.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.footer__list {
  list-style-type: none;  
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  padding: 0;
  width: 50%;
  border-top: 1px solid #c1beb7;
  border-bottom: 1px solid #c1beb7;
}
.footer__list_first {
  order: -2;
}
.footer__list_second {
  order: -1;
}
.footer__item {

}
.footer__link {
  color: #34312a;
  text-decoration: none;
  text-transform: uppercase;
  height: 100%;
  display: block;
  padding: 10px;
}

/* FOOTER MEDIA */
@media screen and (min-width: 576px){

}
  @media screen and (min-width: 992px){

}
  @media screen and (min-width: 1200px){
  
}
  