.header-content {
  color: white;
  padding: 250px 0;
  z-index: 9;
  position: relative;
  text-align: center;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
}
  .header-content__header {
    font-size: 2.5em;
    margin: 0;
  } 
    .header-content__caption {
      margin: 40px 0 0 0;
    }
    .header-content__button {
      width: none;
      padding: 10px 50px;
      font-size: 1em;
      border-radius: 3px;
      margin: 40px 0 0 0;
      border: 2px dashed rgba(255, 255, 255, .3);
      background: rgba(0, 0, 0, .5);
      color: white;
      text-transform: uppercase;
      z-index: 10;
    }



    /* header-content MEDIA */
    @media screen and (min-width: 576px){
      .header-content {
        font-size: 25px;
      }
    }
    @media screen and (min-width: 992px){
      .header-content {
        font-size: 30px;
        padding: 300px 0;
      }
      .header-content__button {
        font-size: .7em;
      }
    }
    @media screen and (min-width: 1200px){
      .header-content {
        font-size: 35px;
      }
    }    