
/* LAYOUTS STYLES */
.l-slide {

}
.l-dish-price {
  background-image: url(../../img/background-2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 60%;
  position: relative;
  background-clip: padding-box;

}
.l-dish-price:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .2);
  z-index: 1;
}
.l-container-price {
  display: flex;
  flex-direction: column;
  padding: 70px 0;
}

/* LAYOUTS MEDIA */
@media screen and (min-width: 576px) {

}
@media screen and (min-width: 992px) {
.l-slide {
  padding: 100px 0;
  background: url(../../img/bg-slider.webp) no-repeat;
  background-size: cover;
}
.l-container-price {
  flex-direction: row;
  justify-content: space-around;
}
.l-dish-price {
  background-size: 110%;
  background-position-x: -7em;
  background-position-y: -9em;
}
}

@media screen and (min-width: 1200px) {}