.presentation {
  background: url('../../img/texture.jpg');
  position: relative;
}

.article {
  font-size: 16px;
  text-align: center;
  padding: 70px 0;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article__header {
  color: #56534c;
  font-size: 2.5em;
  margin: 0;
}

.article__caption {
  color: #a87a62;
  text-transform: uppercase;
  font-size: .7em;
}

.article__text {
  color: #51504c;
  max-width: 430px;
}

.article__rank {
  font-size: 1.8em;
  margin: 20px 0 0 0;
}

.article__image {
  position: relative;
  border-radius: 50%;
  height: 90px;
  width: 90px;
  margin: 20px 0 0 0;
  background: url(../../img/cooker.png);
  background-size: cover;
}

.article__image:after, :before {
  position: absolute;
  color: #5c5b56;
  top: 50%;
  transform: translateY(-50%);
  padding: 12px 5px;
  border-top: 1px solid #d5d6d1;
  border-bottom: 1px solid #d5d6d1;
}

.article__image:before {
  content: "Benito";
  font-size: 1.7em;
  left: -90px;
}

.article__image:after {
  content: "Gaspare";
  right: -100px;
  font-size: 1.7em;
}

.article__quote {}

.presentation__decoration-round {
  height: 70px;
  width: 70px;
  border-radius: 70px;
  z-index: 10;
  background: white 50% 62% url(../../img/cake-2.png) no-repeat;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.presentation__decoration-round:before {
  content: "";
  height: 90px;
  width: 90px;
  left: -10px;
  top: -10px;
  background: url(../../img/border-decor.png);
  position: absolute;
  background-size: contain;
}