
/* PRODUCT-IMAGE STYLES */
.product-image {
  position: relative;
  width: 90%;
  background: white;
  margin: 3em auto 0 auto;
}
.product-image__image {
  width: 100%;
  padding: 5px;
}
/* PRODUCT-IMAGE MEDIA */
@media screen and (min-width: 576px){

}
@media screen and (min-width: 992px){

}
@media screen and (min-width: 1200px){

}
