
/* STATS STYLES */
.stats {
  font-size: 16px;
  position: absolute;
  top: -38px;
  right: -9px;
  list-style-type: none;
  font-weight: bold;
}
.stats__item {
  background: rgba(255, 255, 255, .8);
  min-height: 23vw;
  min-width: 23vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
  max-width: 120px;
}
.stats__item_special {
  background: white;
  margin: 0;
}
.stats__name {
  color: #9c7959;
  font-size: 1.1em;
  text-transform: uppercase;
  word-wrap: normal;
  text-align: center;
}
.stats__time {
  color: #54514a;
  font-size: 2em;
}
.stats__unit {
  color: #988f86;
  font-size: .9em;
  font-weight: normal;
}
/* STATS MEDIA */
@media screen and (min-width: 576px){

}
@media screen and (min-width: 992px){

}
@media screen and (min-width: 1200px){

}
