
 /* fonts */
 @font-face {
  font-family: Alergeya;
  font-style: normal;
  font-weight: normal;
  src: local('Nunito'),
       url('../fonts/Alegreya-Regular.woff2') format('woff2'),
       url('../fonts/Alegreya-Regular.woff') format('woff'),
       url('../fonts/Alegreya-Regular.ttf'),
       url('../fonts/Alegreya-Regular.eot') format('eot');
}
@font-face {
  font-family: Scriptina;
  font-style:  normal;
  font-weight: normal;
  src: local('Anton'),
       url('../fonts/Scriptina.woff2') format('woff2'),
       url('../fonts/Scriptina.woff') format('woff'), 
       url('../fonts/Scriptina.ttf'),
       url('../fonts/Scriptina.eot') format('eot');
}
html {
     overflow-x: hidden;
}
.page {
      font-family: Alergeya, sans-serif;
}
* {
     box-sizing: border-box;
}