.header {
  height: calc(var(--vh, 1vh) * 100);
  background-image: url(../../img/main-bg.jpg);
  background-position-x: 20%;
  background-repeat: no-repeat;
  background-size: cover;
}


    /* header MEDIA */
  @media screen and (min-width: 576px){

  }
  @media screen and (min-width: 992px){

  }
  @media screen and (min-width: 1200px){

  }